#dynamicContentContainer li {
    background: -moz-linear-gradient(top,  rgba(173,173,173,0.65) 0%, rgba(173,173,173,0.45) 31%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(173,173,173,0.65)), color-stop(31%,rgba(173,173,173,0.45)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(173,173,173,0.65) 0%,rgba(173,173,173,0.45) 31%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(173,173,173,0.65) 0%,rgba(173,173,173,0.45) 31%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(173,173,173,0.65) 0%,rgba(173,173,173,0.45) 31%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(173,173,173,0.65) 0%,rgba(173,173,173,0.45) 31%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6adadad', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	text-indent:0;
	border:1px solid #dcdcdc;
    padding:4px;
    line-height:45px;
    min-height:25px;    
    list-style-type:none;
    cursor:pointer;
    margin:10px;
}

    #dynamicContentContainer li:hover {
        color:#000;
        border-color:#555;
    }